*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  font-family: 'Quicksand', serif;
  color: #172c66;
  font-size: 2rem;
  text-align: center;
  margin: 1rem 0;
}

h2{
  font-family: 'Lora', cursive;
  color: #444
  text-align: center;
  margin-bottom: 2rem;
}

p{
  font-family: 'Lora', cursive;
  font-size: 1rem;
  light-height: 1.6;
  color: #222;
  margin: 1rem auto;
  max-width: 700px;
  padding: 0 1rem;
}
